.padding{
  height: 100pt;

}
.inputForm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  text-decoration-color: aliceblue;
}

.taskList{
  /* display: flex; */
  justify-content: left;
  /* text-align: center; */
  /* padding: 5%; */
  /* -ms-grid-column-align:center; */
  /* justify-content:space-between; */
  /* -ms-grid-column-align:start; */
  position:fixed;
  left: 25%;
  height:0;

}

.deleteMission {
  /* justify-content:left; */
  /* position:relative; */
  height: 35px;
  /* right: -300%; */
  padding-left: 150%;
  /* align-content:space-between; */



}

body {
  background-color: rgb(34, 29, 29);
}
